@model ThAmCo.Events.Data.GuestBooking

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>GuestBooking</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>
                    Customer Name
                </th>
                <th>
                    Event Name
                </th>
                <th>
                    Attended
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Event.Title)
                </td>
                <td>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CustomerId" />
                        <input type="hidden" asp-for="EventId" />
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input onclick="UpdateAttendance(@Model.CustomerId, @Model.EventId)" asp-for="Attended" /> @Html.DisplayNameFor(model => model.Attended)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </form>   
                </td>
            </tr>
        </table>
        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function UpdateAttendance(CustomerId, EventId)
        {
            $.ajax({
                url: "http://localhost:22263/GuestBookings/UpdateAttendance/" + CustomerId + "?eventId=" + EventId,
                type: "POST",
                crossDomain: false,
                success: function () {
                    alert("Worked");
                },
                error: function () {
                    alert("Didn't work");
                }
            });
        }
    </script>
}

