@model ThAmCo.Events.Data.Customer
@{ }
<h2>Delete</h2>
<div class="row">
    <div class="col-md-12">
        <h4>Are You Sure You Want To Delete Customer @Model.FirstName  @Model.Surname?</h4>
        <hr />
        <h4>Delete Customer @Model.FirstName  @Model.Surname</h4>
        <table class="table">
            <tr>
                <th>
                    Customer First Name
                    @*@Html.DisplayNameFor(model => model.FirstName)*@
                </th>
                <th>
                    Customer Surname
                    @*@Html.DisplayNameFor(model => model.Surname)*@
                </th>
                <th>
                    Customer Email Address
                    @*@Html.DisplayNameFor(model => model.Email)*@
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Surname)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email)
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
