@model ThAmCo.Events.Models.CustomerDetailsViewModel
<h2>@ViewData["FullName"] Details</h2>

<div class="row">
    <div class="col-md-6">
        <hr />
        <h4>Customer Information</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Customer Full Name
                    </th>
                    <th>
                        Customer Email Address
                    </th>
                </tr>
            </thead>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
         </table>
    </div>
    <div class="col-md-6">
        @if (Model.Events.Any())
        {
            <hr />
            <h4>Events</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Event Title
                        </th>
                        <th>
                            Event Date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Events)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p><br />@Model.FirstName @Model.Surname Is Not Booked Onto Any Events</p>
        }
    </div>
    <div class="col-md-4">
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
