@model ThAmCo.Events.Data.Event
@{ }
<h2>Delete</h2>
<div class="row">
    <div class="col-md-12">
        <h4>Are You Sure You Want To Delete Event @Model.Title?</h4>
        <hr />
        <h4>Delete Customer @Model.Title</h4>
        <table class="table">
            <tr>
                <th>
                    Event Title
                    @*@Html.DisplayNameFor(model => model.Title)*@
                </th>
                <th>
                    Event Date
                    @*@Html.DisplayNameFor(model => model.Date)*@
                </th>
                <th>
                    Event Duration
                    @*@Html.DisplayNameFor(model => model.Duration)*@
                </th>
                <th>
                    Event TypeId
                    @*@Html.DisplayNameFor(model => model.TypeId)*@
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Date)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Duration)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TypeId)
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-12">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
