@model ThAmCo.Events.Models.ReservationViewModel

@{
    ViewData["Title"] = "Reservation";
}

<h2>Reservation</h2>

<div>
    <h4>ReservationViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VenueCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VenueCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhenMade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhenMade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Events</a>
</div>
